doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      .container
        .row
          .col-12
            p ここがメインですよ
    include includes/_footer
    include includes/_footermeta
