- var page_name = "session_single"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title ここにSESSIONのタイトルを記入します
                p.entry__time [11:00-12:00]
              .entry__content
                p つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、
                p つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、
            .col-12.col-md-8
              .speaker-info
                .row.justify-content-md-center
                  .col-12.col-sm-6.col-lg-3
                    img(src="https://dummyimage.com/600x600/000/fff").speaker-info__thumbnail.rounded-circle
                    ul.speaker-info__links.list-inline.text-center
                      li.list-inline-item
                        a(href="#")
                          i.fab.fa-twitter
                      li.list-inline-item
                        a(href="#")
                          i.fab.fa-facebook-f
                      li.list-inline-item
                        a(href="#")
                          i.fas.fa-laptop
                  .col-12.col-sm-6.col-lg-9
                    h4.speaker-info__name 宮島 衣瑛
                    p.speaker-info__description CoderDojo Kashiwa Champion / InnovationPower Co.,Ltd CEO 柏メディア教育研究会研究推進委員 / 学習院大学文学部教育学科2年
                    p.speaker-info__content 2013年5月から地元である千葉県柏市で小中学生向けのプログラミング道場、CoderDojo Kashiwaを主催・運営。プログラミング教育を始めとするICT教育全般について、全国各地で実践研究を行っている。教育分野のResearch&Developmentを行っているInnovationPower Co.,LtdのCEO。2017年4月より柏市教育委員会とプログラミング教育に関するプロジェクトをスタート。市内すべての小学校で実施するプログラミング学習のカリキュラム作成やフォローアップを担当。大学では教育についてより専門的に学んでいる。

include includes/_footer
    include includes/_footermeta
