- var page_name = "Session"
// ---------------------
doctype
html(lang="ja")
  head
    include includes/_headmeta
  body
    include includes/_header
    main
      article.entry
        .container
          .row.justify-content-md-center
            .col-12.col-md-8
              header.entry__header
                h2.entry__title 基調講演
                p.entry__time [11:00-12:00]
              .entry__content
                p CoderDojo西宮/梅田の主宰およびCoderDojo Japan理事。WordPressを使ったWEBサイトの制作および講師業を営む。サイボウズ株式会社公認 kintoneエバンジェリスト。基調講演では、日本初となるCoderDojoの全国会議 DojoCon Japan の開催に至った経緯と2年間の取り組みの紹介、実行委員長として国内各地および世界のDojo関係者との橋渡しを行い、更には世界に若者を送り出すなど、現在も精力的にコミュニティに貢献し続ける氏への想いなど、多岐にわたってお話しいただきます。
                p セッションでは、最近CoderDojoを始めた方、エンジニア（プログラマー）ではないけれどCoderDojoに参加している大人の方、CoderDojoをきっかけに活動の場が広がった方が登壇します。それぞれの立場から、CoderDojoに携わったことで得たこと・悩み・不安など、いろいろな視点でお話していただく予定です。
            .col-12.col-md-8
              .speaker-info
                .row.justify-content-md-center
                  .col-12.col-sm-6.col-lg-3
                    img(src="img/hosoya.jpg").speaker-info__thumbnail.rounded-circle
                    ul.speaker-info__links.list-inline.text-center
                      li.list-inline-item
                        a(href="#")
                          i.fab.fa-twitter
                      li.list-inline-item
                        a(href="#")
                          i.fab.fa-facebook-f
                      li.list-inline-item
                        a(href="#")
                          i.fas.fa-laptop
                  .col-12.col-sm-6.col-lg-9
                    h4.speaker-info__name 宮島 衣瑛
                    p.speaker-info__description CoderDojo Kashiwa Champion / InnovationPower Co.,Ltd CEO 柏メディア教育研究会研究推進委員 / 学習院大学文学部教育学科2年
                    p.speaker-info__content 2013年5月から地元である千葉県柏市で小中学生向けのプログラミング道場、CoderDojo Kashiwaを主催・運営。プログラミング教育を始めとするICT教育全般について、全国各地で実践研究を行っている。教育分野のResearch&Developmentを行っているInnovationPower Co.,LtdのCEO。2017年4月より柏市教育委員会とプログラミング教育に関するプロジェクトをスタート。市内すべての小学校で実施するプログラミング学習のカリキュラム作成やフォローアップを担当。大学では教育についてより専門的に学んでいる。

include includes/_footer
    include includes/_footermeta
