header.site-header
  .main-visual.text-center
    picture
      source(media="(min-width: 768px)" srcset="img/main-visual.png")
      img(src="img/main-visual_sp.png" alt="DojoCon Japan 2018 2018.8.25(Sat) @サイボウズ東京オフィス")
