header
  .container
    .row
      .col-12
        h1 ロゴ
        nav
          ul
            li
              a(src="#") aaaa
            li
              a(src="#") aaaa
            li
              a(src="#") aaaa
