if page_name == 'top'
  header.site-header
    .main-visual.text-center
      img(src="img/main.svg" alt="DojoCon Japan 2018 2018.8.25(Sat) @サイボウズ東京オフィス")
else
  header.site-header.bg__green.pt-5
    .container
      .row
        .col-12.text-center
          h3.site-header__site-name
            a(href="/") DojoCon Japan 2018
          h1.heading__01 Code of contact
